/* Container around content */
.event-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
	width: 50%;

	/* The circles on the timeline */
	&:after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		right: -17px;
		background-color: #ffffff;
		border: 4px solid #d9d9d9;
		top: 15px;
		border-radius: 50%;
		z-index: 1;
	}
}

/* Place the event-container to the left */
.left-event {
	left: 0;

	/* Add arrows to the left event-container (pointing right) */
	&:before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		right: 30px;
		border: medium solid #ffffff;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent #ffffff;
	}
}
  
/* Place the event-container to the right */
.right-event {
	left: 50%;
	// left: 5%;

	/* Add arrows to the right event-container (pointing left) */
	&:before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		left: 30px;
		border: medium solid #ffffff;
		border-width: 10px 10px 10px 0;
		border-color: transparent #ffffff transparent transparent;
	}

	/* Fix the circle for event-containers on the right side */
	&:after {
		left: -16px;
	}
}

/* Place an event (on the left side) on a timeline orientated to the right closer to the vertical ruler */
.right-timeline {
	left: 45% !important;
}

/* Place an event (on the right side) on a timeline orientated to the left closer to the vertical ruler */
.left-timeline {
	left: 5% !important;
}

/* The actual event content */
.event-body {
    padding: 20px 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Full-width event-containers */
    .event-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .event-container::before {
        left: 60px;
        border: medium solid #ffffff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ffffff transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left-event::after, .right-event::after {
        left: 15px;
    }
  
    /* Make all right event-containers behave like the left ones */
    .right-event {
        left: 0%;
    }
}